<!DOCTYPE html>
<html>
<head>
	<title>Test</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>
	<h1>Añadir filtro</h1>

    <input  id="file" type="file" name="file"/>
    <button class="btn btn-primary" id="send">Subir Archivo</button>
    <div id="status"></div>
	 <script>
		$(document).ready(function() {
			$('#send').click(sendFile);
		});
		function sendFile(){
			var data = new FormData();
			jQuery.each($('input[type=file]')[0].files, function(i, file) {
			    data.append('file', file);
			});
			var other_data = $('form').serializeArray();
			$.each(other_data,function(key,input){
			    data.append(input.name,input.value);
			});
			$('#status').html('Cargando...');
			jQuery.ajax({
				url: 'upload',
				data: data,
				cache: false,
				contentType: false,
				processData: false,
				type: 'POST',
				success: function(data){
					if(data.status === 202){
						$('#status').html(`<a href="${data.url}" target="_blank">${data.url}</a>`);
					} else {
						$('#status').html(data.message);
					}
				}
			});
		}
    </script>
</body>
</html>